/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* nav */
nav {
    position: relative;;
    float:right;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 25px;
    color: black;
    font-size: 1em;
}
nav .navigation {
    margin-right: 90px;
}
.navigation a {
    margin: 0 10px;
}
span a img {
    height: 18px;
    width: 18px;
}
.sign-in{
    display: flex;
    position: absolute;
    top: -5px;
    right: 5px;
    border: 1px solid #4285f4;
    background: #4285f4;
    height: 28px;
    align-items: center;
    font-weight: bold;
    width: 70px;
    justify-content: center;
}
.sign-in a{
    color: white;
}
/* Google Logos, Input etc */
.center {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.logo img {
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.searchbar {
    margin-bottom: 20px;
}
.searchbar input {
    line-height: 30px;
    width: 600px;
    border-radius: 30px;
    color: rgba(0,0,0,.87);
    border: .8px solid rgb(150, 148, 148);
    height: 40px;
    
}
.searchbar input:hover {
    background-color: transparent;
}
.submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.submit1, .submit2 {
    margin: 0 10px;
}
.submit1 input, .submit2 input {
    height: 35px;
    width: 130px;
}
.offered {
    display: flex;
    justify-content: center;
}
.one, .two, .three {
    margin:20px 3px;
}
/* Footer */
.footer {
    background: white;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e4e4;
    background: #f2f2f2;

}
.ph {
    color: rgba(0,0,0,.54);
    padding-left: 20px;
    border-bottom: 1px solid #e4e4;
}
.footerleft a {
    color: rgba(0,0,0,.54);
    padding-left: 20px;
}
.footerright a {
    color: rgba(0,0,0,.54);
    padding-right: 20px;
    float: right;
}